

  {{!-- set up main layout --}}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {{!-- loop over each order --}}
    {{#each orders as |order|}}
    <div data-ordercard={{order.id}} class="col order-card">
      <div class="card mb-4 rounded-3 shadow-sm text-dark">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Order Number: {{order.id}}</h4>
          <h5 class="my-0 fw-normal">Table Number: {{order.table_number}}</h5>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            {{#menu_items}}
            <li>
              {{order_item.quantity}} x {{name}}
            </li>
            {{/menu_items}}
          </ul>
          <button data-orderid={{order.id}} type="button" class="w-100 btn btn-lg btn-outline-primary">Order
            finished</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>





  {{!-- connect js file --}}
  <script src="/javascript/orders.js"></script>